:root {
  --md-default-fg-color: #f8f8f2;
  --md-default-fg-color--light: #75715e;
  --md-default-fg-color--lighter: #a6a59d;
  --md-default-fg-color--lightest: #f8f8f2;
  --md-default-bg-color: #272822;
  --md-default-bg-color--light: #3e3d32;
  --md-default-bg-color--lighter: #75715e;
  --md-default-bg-color--lightest: #75715e;

  --md-code-fg-color: #f8f8f2;
  --md-code-bg-color: #272822;

  --md-code-hl-color: #f92672;
  --md-code-hl-number-color: #ae81ff;
  --md-code-hl-special-color: #f92672;
  --md-code-hl-function-color: #a6e22e;
  --md-code-hl-constant-color: #ae81ff;
  --md-code-hl-keyword-color: #f92672;
  --md-code-hl-string-color: #e6db74;
  --md-code-hl-name-color: #f8f8f2;
  --md-code-hl-operator-color: #f8f8f2;
  --md-code-hl-punctuation-color: #f8f8f2;
  --md-code-hl-comment-color: #75715e;
  --md-code-hl-generic-color: #f8f8f2;
  --md-code-hl-variable-color: #f8f8f2;

  --md-typeset-color: #f8f8f2;
  --md-typeset-a-color: #66d9ef;
  --md-typeset-mark-color: #f92672;
  --md-typeset-del-color: #75715e;
  --md-typeset-ins-color: #a6e22e;

  --md-typeset-kbd-color: #f8f8f2;
  --md-typeset-kbd-accent-color: #ae81ff;
  --md-typeset-kbd-border-color: #75715e;

  --md-typeset-table-color: #f8f8f2;
}

[data-md-color-scheme="test"] {
  @extend %root;
}
