/* body {
    background-color: #2e303d;
} */

/* Set the background color for the sidebar and menu */
/* nav.md-sidebar.md-sidebar--primary {
    background-color: #fff;
} */

/* Set the text color for the sidebar and menu */
/* nav.md-sidebar.md-sidebar--primary a.md-sidebar__link, nav.md-sidebar.md-sidebar--primary span.md-sidebar__item-title {
    color: #fff;
} */

/* Set the hover color for the sidebar and menu */
/* nav.md-sidebar.md-sidebar--primary a.md-sidebar__link:hover, nav.md-sidebar.md-sidebar--primary a.md-sidebar__link--active {
    color: #00bcd4;
} */

/* Set the background color for the page header */
/* header.md-header.md-header--primary {
    background-color: #1976d2;
} */

/* Set the text color for the page header */
/* header.md-header.md-header--primary h1.md-header__title {
    color: #fff;
} */

/* Set the background color for the main content area */
/* div.md-main {
    background-color: #fff;
} */

/* Set the text color for the main content area */
/* div.md-main h1, div.md-main h2, div.md-main h3, div.md-main h4, div.md-main h5, div.md-main h6, div.md-main p, div.md-main ul, div.md-main ol, div.md-main pre {
    color: #fff;
} */
